If:
  PathExclude:
    - third_party/pigweed/pw_string/type_to_string.cc
    - particle/backends/assert/assert_backend.cc
    - third_party/pigweed/pw_chrono/system_clock.cc
    - particle/third_party/device-os/modules/tron/user-part/src/module_info.c
    - particle/third_party/device-os/modules/tron/user-part/src/user_export.c
    - particle/third_party/device-os/modules/tron/user-part/src/user_module.c
    - particle/third_party/device-os/modules/tron/user-part/src/newlib_stubs.cpp
    - third_party/pigweed/pw_digital_io/digital_io.cc
    - particle/backends/gpio/digital_io.cc
    - particle/backends/thread/sleep.cc
    - third_party/pigweed/pw_thread/sleep.cc
    - third_party/pigweed/pw_log_basic/log_basic.cc
    - third_party/pigweed/pw_string/string_builder.cc
    - particle/third_party/device-os/rt-dynalib/src/rt_dynalib.c
    - particle/third_party/device-os/communication-dynalib/src/communication_dynalib.c
    - particle/third_party/device-os/services-dynalib/src/services_dynalib.c
    - third_party/pigweed/pw_sync/mutex.cc
    - particle/third_party/device-os/hal-dynalib/src/*.c
    - particle/third_party/device-os/system-dynalib/src/*.c
    - lib/gpio_mirror/gpio_mirror.cc
    - third_party/pigweed/pw_bytes/byte_builder.cc
    - firmware/particle_p2/main.cc
    - particle/backends/sys_io/sys_io.cc
    - particle/backends/chrono/system_clock.cc
    - third_party/pigweed/pw_string/format.cc
    - third_party/pigweed/pw_status/status.cc
Diagnostics:
  Suppress: '*'
